.card {

    border-radius: 10px;
    border: 1px solid black;
    width: 90%;
    margin: .5rem auto;
    overflow: hidden;

    &__image {

        height: 200px;
        width: 100%;
        background-size: cover;

        &__container {

            padding: .5rem;
            
        }

    }

    &__container {

        display: flex;
        flex-direction: column;
        padding: .5rem;

    }

    &__tags {

        margin: 1rem 0;

    }

    &__title {

        margin: .5rem 0;

    }

    &__flex {

        display: flex;
        justify-content: space-between;
        margin-top: .75rem;

    }

}